<!doctype html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  </head>
  {{block "main" .}}{{end}}
</html>
