<head>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
</head>

<body>
  <h1>idiomorph test</h1>
  <div hx-ext="morph">
    {{block "main" .}}{{end}}
  </div>
</body>
