{{define "main"}}
  <iframe id="video"
          width="280" height="158" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=3EfBNiyRH0pbYERO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

  <div>
    <a hx-boost="true" hx-swap="morph:innerHTML" href="two">two</a>
  </div>
{{end}}
